.finder-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finder-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputfield {
  margin: 10px 0;
}

.movies-list-item-card {
  width: 80%;
  min-width: 500px;
  border-radius: 10px;
  margin: 5px 20px;
  padding: 0 10px;
}

.formCard {
  width: 80%;
  min-width: 500px;
}

.card-title {
  cursor: pointer;
}